# frozen_string_literal: true
require 'vk/schema'
require 'dry-struct'

module Vk
  class Schema
    class Model < Dry::Struct
    <%- schema.namespaces.each do |namespace, objects| -%>
      module <%= namespace %>
      <%- objects.each do |object| -%>
        autoload :<%= object.type_name %>, '<%= object.require %>'
      <%- end -%>
      end
    <%- end -%>
    end
  end
end
